DOCTYPE
html 
head
    link(rel='stylesheet' href='style.css')
    title Kenziegram
body
    h1 Welcome to Kenziegram!

    form(method="post" action="http://localhost:3000/" enctype="multipart/form-data")
        legend Choose a Picture:
            input(type="file" id="user_file" name="file" autofocus)
            button(type="submit") Upload Picture

#picdiv
    each image in images
        img(src=`./uploads/${image}`, alt="")
