DOCTYPE
html 
head
    link(rel='stylesheet' href='style.css')
    title Kenziegram
body
    h1 Kenziegram
#container
    form(method="post" action="/upload" enctype="multipart/form-data")
        legend <p>Select a picture to upload:
            input(type="file" id="user_file" name="file" autofocus)
            button(type="submit") Upload Picture

#picdiv
    each image in images
        img(src=`/${image}`, alt="")
script(src="script.js")

