DOCTYPE
html 
head
    link(rel='stylesheet' href='style.css')
    title Kenziegram
body
    H1 Your photo has been posted!
<button><a href="/">back</a></button>

#picdiv
        img(src=image)

script(src="script.js")