DOCTYPE
html 
head
    link(rel='stylesheet' href='style.css')
    title Kenziegram
body
    H2 Your photo has been posted!
#container2
<button><a href="/">Back to Home</a></button>

#picdiv
        img(src=image)

script(src="script.js")